<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="js/vue.js"></script>
	</head>
	<body>
		<div id="app">
			<input type="text" v-model="inputcontent"/>
			<button type="button" v-on:click="inputSub()">提交</button>
			<ul>
				<li v-for="(item1,index1) in list1" v-on:click="addList2(item1,index1)">{{item1}}</li>
			</ul>
			<ul>
				<li v-for="item2 in list2">{{item2}}</li>
			</ul>
		</div>
	</body>
	<script type="text/javascript">
		var vm=new Vue({
			el:"#app",
			data:{
				inputcontent:"",
				list1:["张三","李四","王五","赵六"],
				list2:[]
			},
			methods:{
				addList2:function(name,index){
					vm.list1.splice(index, 1);
					vm.list2.push(name);
				},
				inputSub:function(){
					vm.list1.push(vm.inputcontent);
					vm.inputcontent="";
				}
			}
		});
		
	</script>
</html>
.